.App {
  text-align: center;
  background: url("Components/casino2.jpeg");
  height: 100vh;
}
.player-name{
  display: flex;
  justify-content: center;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.links {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding-top: 1.7%;
  font-size: 20px;
  
  
  
}
.Top {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.player1 {
  color:white;
  margin-right: 120px;
  font-weight: bold;
 
}

.player2 {
  color: white;
  margin-left: 50px;

}
.message {
  color: white;
  margin-right: 120px;
  font-weight: bold;
}
 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(165, 81, 42);
  height: 7%;
 }

 .display {
   color: white;
   text-decoration: none;
   font-weight: bold;
 }
